body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: aqua;
    justify-content: center; 
    display: grid;   
}
.video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Places it behind all content */
}
h2
{
    background-color: #222;
    color: white;
    text-align: center;
    padding: 12px;
    margin: 0px;
    margin-bottom: 5px;
    border-radius: 10px;   
    /* font-size: 25px;  */
}
button{
    padding: 15px;
    font-size: 20px;
    font-weight: 500;
    background-color: #333;
    color: white;
    border-radius: 10px;
}

.div1{
    margin-top: 0%;
    width: 300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    /* line-height: 4; */
    background-color: #111;
    padding: 20px;
    border-radius: 10px;
}
#txtdisplay {
    width: 100%;
    height: 50px;
    background-color: #222;
    color: #fff;
    border: none;
    text-align: right;
    padding: 10px;
    font-size: 24px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .calculator {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
  }

  .mode {
    background-color: #333;
    padding: 5px;
    margin-top: 5px;
    border-radius: 10px;
    color: white;
    text-align: center;
   
  }
  
  .btn1{
    padding: 5px;
    font-size: 14px;
    font-weight: 500;
    background-color: #333;
    color: white;
    border-radius: 10px;
    margin-left: 20px;
  }